# Python garbage
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDE specific
.vscode/
.idea/

# Database (if using local sqlite later)
*.db
*.sqlite3